*{font-family: 'Montserrat', sans-serif;}
body, html{padding:0; margin:0;overflow-x:hidden;}
.green_text{color:#3A7B12;}
.pd0{
    margin: 0;
    padding: 0;
}

a { 
    text-decoration: none; 
   }
a:hover { 
    color: #62B82D;
   }


 
@media (min-width: 321px) {
    li{font-size: 1rem;}
    .mob_mt20{margin-top: 20px;}
    .active{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #62B82D;
        }
        .footer_menu{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #FFFFFF;
        }
        .semibold{font-weight: 500;}
        .bold{font-weight: bold;}
        .font_f{font-family: 'Montserrat'}
        .f11 {font-size: 0.6875rem; max-width: 100%;}
        .f12 {font-size: 0.75rem; max-width: 100%;}
        .f13 {font-size: 0.8125rem; max-width: 100%;}
        .f14 {font-size: 0.875rem; max-width: 100%;}
        .f15 {font-size: 0.9375rem; max-width: 100%;}
        .f16 {font-size: 1rem; max-width: 100%;}
        .f17 {font-size: 1.0625rem; max-width: 100%;}
        .f18 {font-size: 1.125rem; max-width: 100%;}
        .f19 {font-size: 1.1875rem; max-width: 100%;}
        .f20 {font-size: 1.25rem; max-width: 100%;}
        .f21 {font-size: 1.125rem; max-width: 100%;}
        .f22 {font-size:1.375rem; max-width: 100%;}
        .f23 {font-size:1.4375rem; max-width: 100%;}
        .f24 {font-size:1.5rem; max-width: 100%;}
        .f25 {font-size:1.5625rem; max-width: 100%;}
        .f26 {font-size:1.625rem; max-width: 100%;}
        .f27 {font-size:1.6875rem; max-width: 100%;}
        .f28 {font-size:1.75rem; max-width: 100%;}
        .f29 {font-size:1.8125rem; max-width: 100%;}
        .f30 {font-size:1.875rem; max-width: 100%;}
        .mt15{margin-top: 15px;}
        .mt20{margin-top: 20px;}
        .mt30{margin-top: 30px;}
        .mt50{margin-top: 50px;}
        .mt100{margin-top: 100px;}
        .mb20{margin-bottom: 20px;}
        .pt5{padding-top:10px;}
        .mt31{margin-top:31px;}
        .padding_left{padding-left:10px;}
        .one_sec_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 38px;
        color: #000000;
        }
        
        .one_sec_minitext{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 24px;
        color: #000000;
        }
        
        .btn_green{
        width: 250px;
        height: 60px;
        color:#fff;
        background: #62B82D;
        transition: 1s;
        box-shadow: 0px 4px 15px rgba(98, 184, 45, 0.5);
        }
        .btn_green:hover{color:#fff; border: solid 1px #fff;}
        
        #miniblock{background:#fff; height: 100%; padding:50px; position: relative; top:-100px;filter: drop-shadow(4px 9px 20px rgba(0, 0, 0, 0.05));}
        
        .mini_block_header{ 
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 29px;
        }
        .mini_block_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
         
        color: #000000;
        }
        
        
        
        .rel_block{position: relative;}
        
        #one_sec{background: url('../images/bg_main.jpg') no-repeat;background-size:cover; height: 100%; padding-top:  40px; padding-bottom: 150px;}
        #two_sec{background: linear-gradient(181.15deg, #F9F9F9 -5.67%, rgba(248, 248, 248, 0) 41.26%); height:100%; margin-top: 50px; margin-bottom:  20px;}
        #four_sec{ height:100%; margin-top: 10px; margin-bottom: 100px;}
        #footer{background: url(../images/bg_footer_mob.jpg) no-repeat; background-size:cover; height: 100%; padding-top: 0px; padding-bottom: 150px;}
        
      
        
        .two_header_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        text-transform: uppercase;
        
        color: #000000;
        
        }
        
        .three_header_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 34px;
        line-height: 38px;
        color: #000000;
        }
        
        .three_block_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 29px;
        }
        
        .tecnology_header{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 29px;
        color: #000000;
        }
        
        .footer_header{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 2.4375rem;
        line-height:4rem;
        color: #000000;
        }
        
        .footer_text{
            
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 29px;
        
        color: #FFFFFF;
        
        }
        .menu_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500!important;
        font-size: 18px;
        line-height: 22px;
        color: #3A7B12!important;
        }
        .menu_text:hover{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500!important;
            font-size: 18px;
            line-height: 22px;
            color: #64cc24!important;
            }
        
        .level_1{position: relative; z-index:  2!important;}
        .level_2{position: relative; z-index:  1!important;}
}

@media (min-width: 768px) { 
    li{font-size: 1rem;}
    .mob_mt20{margin-top: 20px;}

    .active{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #62B82D;
        }
        .footer_menu{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #FFFFFF;
        }
        .semibold{font-weight: 500;}
        .bold{font-weight: bold;}
        .font_f{font-family: 'Montserrat'}
        .f11 {font-size: 0.6875rem; max-width: 100%;}
        .f12 {font-size: 0.75rem; max-width: 100%;}
        .f13 {font-size: 0.8125rem; max-width: 100%;}
        .f14 {font-size: 0.875rem; max-width: 100%;}
        .f15 {font-size: 0.9375rem; max-width: 100%;}
        .f16 {font-size: 1; max-width: 100%;}
        .f17 {font-size: 1.0625rem; max-width: 100%;}
        .f18 {font-size: 1.125rem; max-width: 100%;}
        .f19 {font-size: 1.1875rem; max-width: 100%;}
        .f20 {font-size: 1.25rem; max-width: 100%;}
        .f21 {font-size: 1.125rem; max-width: 100%;}
        .f22 {font-size:1.375rem; max-width: 100%;}
        .f23 {font-size:1.4375rem; max-width: 100%;}
        .f24 {font-size:1.5rem; max-width: 100%;}
        .f25 {font-size:1.5625rem; max-width: 100%;}
        .f26 {font-size:1.625rem; max-width: 100%;}
        .f27 {font-size:1.6875rem; max-width: 100%;}
        .f28 {font-size:1.75rem; max-width: 100%;}
        .f29 {font-size:1.8125rem; max-width: 100%;}
        .f30 {font-size:1.875rem; max-width: 100%;}
        .mt15{margin-top: 15px;}
        .mt20{margin-top: 20px;}
        .mt30{margin-top: 30px;}
        .mt50{margin-top: 50px;}
        .mt100{margin-top: 100px;}
        .mb20{margin-bottom: 20px;}
        .pt5{padding-top: 10px;}
        .mt31{margin-top:31px;}
        .padding_left{padding-left: 50px;}
        .one_sec_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 58px;
        color: #000000;
        }
        
        .one_sec_minitext{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 24px;
        color: #000000;
        }
        
        .btn_green{
        width: 250px;
        height: 60px;
        color:#fff;
        background: #62B82D;
        transition: 1s;
        box-shadow: 0px 4px 15px rgba(98, 184, 45, 0.5);
        }
        .btn_green:hover{color:#fff; border: solid 1px #fff;}
        
        #miniblock{background:#fff; eight: 100%; padding:50px; position: relative; top:-100px;filter: drop-shadow(4px 9px 20px rgba(0, 0, 0, 0.05));}
        
        .mini_block_header{ 
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 29px;
        }
        .mini_block_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
         
        color: #000000;
        }
        
        
        
        .rel_block{position: relative;}
        
        #one_sec{background: url('../images/bg_main.jpg') no-repeat;background-size:cover; height: 100%; padding-top: 30px; padding-bottom: 150px;}
        #two_sec{background: linear-gradient(181.15deg, #F9F9F9 -5.67%, rgba(248, 248, 248, 0) 41.26%); height:100%; margin-top: 100px; margin-bottom: 100px;}
        #four_sec{ height:100%; margin-top: 100px; margin-bottom: 100px;}
        #footer{background: url(../images/bg_footer.jpg) no-repeat; background-size:cover; height: 100%; padding-top: 50px; padding-bottom: 150px;}
        
       
        .two_header_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 53px;
        text-transform: uppercase;
        
        color: #000000;
        
        }
        
        .three_header_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 53px;
        color: #000000;
        }
        
        .three_block_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 29px;
        }
        
        .tecnology_header{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 29px;
        color: #000000;
        }
        
        .footer_header{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 3.4375rem;
        line-height:4rem;
        color: #000000;
        }
        
        .footer_text{
            
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 29px;
        
        color: #FFFFFF;
        
        }
        .menu_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500!important;
        font-size: 18px;
        line-height: 22px;
        color: #3A7B12!important;
        }
        .menu_text:hover{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500!important;
            font-size: 18px;
            line-height: 22px;
            color: #64cc24!important;
            }
        
        .level_1{position: relative; z-index:  2!important;}
        .level_2{position: relative; z-index:  1!important;}
 }

@media (min-width: 992px) {
    li{font-size: 1.4rem;}
    .mob_mt20{margin-top: 0px;}
    .active{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #62B82D;
        }
        .footer_menu{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #FFFFFF;
        }
        .semibold{font-weight: 500;}
        .bold{font-weight: bold;}
        .font_f{font-family: 'Montserrat'}
        .f11 {font-size: 0.6875rem; max-width: 100%;}
        .f12 {font-size: 0.75rem; max-width: 100%;}
        .f13 {font-size: 0.8125rem; max-width: 100%;}
        .f14 {font-size: 0.875rem; max-width: 100%;}
        .f15 {font-size: 0.9375rem; max-width: 100%;}
        .f16 {font-size: 1; max-width: 100%;}
        .f17 {font-size: 1.0625rem; max-width: 100%;}
        .f18 {font-size: 1.125rem; max-width: 100%;}
        .f19 {font-size: 1.1875rem; max-width: 100%;}
        .f20 {font-size: 1.25rem; max-width: 100%;}
        .f21 {font-size: 1.125rem; max-width: 100%;}
        .f22 {font-size:1.375rem; max-width: 100%;}
        .f23 {font-size:1.4375rem; max-width: 100%;}
        .f24 {font-size:1.5rem; max-width: 100%;}
        .f25 {font-size:1.5625rem; max-width: 100%;}
        .f26 {font-size:1.625rem; max-width: 100%;}
        .f27 {font-size:1.6875rem; max-width: 100%;}
        .f28 {font-size:1.75rem; max-width: 100%;}
        .f29 {font-size:1.8125rem; max-width: 100%;}
        .f30 {font-size:1.875rem; max-width: 100%;}
        .mt15{margin-top: 15px;}
        .mt20{margin-top: 20px;}
        .mt30{margin-top: 30px;}
        .mt50{margin-top: 50px;}
        .mt100{margin-top: 100px;}
        .mb20{margin-bottom: 20px;}
        .pt5{padding-top: 10px;}
        .mt31{margin-top:31px;}
        .padding_left{padding-left: 50px;}
        .one_sec_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 3rem;
        line-height: 58px;
        color: #000000;
        }
        
        .one_sec_minitext{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 24px;
        color: #000000;
        }
        
        .btn_green{
        width: 250px;
        height: 60px;
        color:#fff;
        background: #62B82D;
        transition: 1s;
        box-shadow: 0px 4px 15px rgba(98, 184, 45, 0.5);
        }
        .btn_green:hover{color:#fff; border: solid 1px #fff;}
        
        #miniblock{background:#fff; eight: 100%; padding:50px; position: relative; top:-100px;filter: drop-shadow(4px 9px 20px rgba(0, 0, 0, 0.05));}
        
        .mini_block_header{ 
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 29px;
        }
        .mini_block_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 22px;
         
        color: #000000;
        }
        
        
        
        .rel_block{position: relative;}
        
        #one_sec{background: url('../images/bg_main.jpg') no-repeat;background-size:cover; height: 100%; padding-top: 150px; padding-bottom: 150px;}
        #two_sec{background: linear-gradient(181.15deg, #F9F9F9 -5.67%, rgba(248, 248, 248, 0) 41.26%); height:100%; margin-top: 100px; margin-bottom: 10px;}
        #four_sec{ height:100%; margin-top: 100px; margin-bottom: 100px;}
        #footer{background: url(../images/bg_footer.jpg) no-repeat; background-size:100%; height: 100%; padding-top: 50px; padding-bottom: 150px;}
        
       
        
        .two_header_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 53px;
        text-transform: uppercase;
        
        color: #000000;
        
        }
        
        .three_header_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 53px;
        color: #000000;
        }
        
        .three_block_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 29px;
        }
        
        .tecnology_header{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 29px;
        color: #000000;
        }
        
        .footer_header{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 3.4375rem;
        line-height:4rem;
        color: #000000;
        }
        
        .footer_text{
            
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 29px;
        
        color: #FFFFFF;
        
        }
        .menu_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500!important;
        font-size: 18px;
        line-height: 22px;
        color: #3A7B12!important;
        }
        .menu_text:hover{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500!important;
            font-size: 18px;
            line-height: 22px;
            color: #64cc24!important;
            }
        
        .level_1{position: relative; z-index:  2!important;}
        .level_2{position: relative; z-index:  1!important;}


 }

@media (min-width: 1200px) { 
    li{font-size: 1.5rem;}
    .mob_mt20{margin-top: 0px;}
    .active{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #62B82D;
        }
        .footer_menu{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #FFFFFF;
        }
        .semibold{font-weight: 500;}
        .bold{font-weight: bold;}
        .font_f{font-family: 'Montserrat'}
        .f11 {font-size: 0.6875rem; max-width: 100%;}
        .f12 {font-size: 0.75rem; max-width: 100%;}
        .f13 {font-size: 0.8125rem; max-width: 100%;}
        .f14 {font-size: 0.875rem; max-width: 100%;}
        .f15 {font-size: 0.9375rem; max-width: 100%;}
        .f16 {font-size: 1; max-width: 100%;}
        .f17 {font-size: 1.0625rem; max-width: 100%;}
        .f18 {font-size: 1.125rem; max-width: 100%;}
        .f19 {font-size: 1.1875rem; max-width: 100%;}
        .f20 {font-size: 1.25rem; max-width: 100%;}
        .f21 {font-size: 1.125rem; max-width: 100%;}
        .f22 {font-size:1.375rem; max-width: 100%;}
        .f23 {font-size:1.4375rem; max-width: 100%;}
        .f24 {font-size:1.5rem; max-width: 100%;}
        .f25 {font-size:1.5625rem; max-width: 100%;}
        .f26 {font-size:1.625rem; max-width: 100%;}
        .f27 {font-size:1.6875rem; max-width: 100%;}
        .f28 {font-size:1.75rem; max-width: 100%;}
        .f29 {font-size:1.8125rem; max-width: 100%;}
        .f30 {font-size:1.875rem; max-width: 100%;}
        .mt15{margin-top: 15px;}
        .mt20{margin-top: 20px;}
        .mt30{margin-top: 30px;}
        .mt50{margin-top: 50px;}
        .mt100{margin-top: 100px;}
        .mb20{margin-bottom: 20px;}
        .pt5{padding-top:10px;}
        .mt31{margin-top:31px;}
        .padding_left{padding-left: 50px;}
        .one_sec_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 3rem;
        line-height: 58px;
        color: #000000;
        }
        
        .one_sec_minitext{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 24px;
        color: #000000;
        }
        
        .btn_green{
        width: 250px;
        height: 60px;
        color:#fff;
        background: #62B82D;
        transition: 1s;
        box-shadow: 0px 4px 15px rgba(98, 184, 45, 0.5);
        }
        .btn_green:hover{color:#fff; border: solid 1px #fff;}
        
        #miniblock{background:#fff; eight: 100%; padding:50px; position: relative; top:-100px;filter: drop-shadow(4px 9px 20px rgba(0, 0, 0, 0.05));}
        
        .mini_block_header{ 
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 29px;
        }
        .mini_block_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
         
        color: #000000;
        }
        
        
        
        .rel_block{position: relative;}
        
        #one_sec{background: url('../images/bg_main.jpg') no-repeat;background-size:cover; height: 100%; padding-top: 150px; padding-bottom: 150px;}
        #two_sec{background: linear-gradient(181.15deg, #F9F9F9 -5.67%, rgba(248, 248, 248, 0) 41.26%); height:100%; margin-top: 100px; margin-bottom: 100px;}
        #four_sec{ height:100%; margin-top: 100px; margin-bottom: 100px;}
        #footer{background: url(../images/bg_footer.jpg) no-repeat; background-size:100%; height: 100%; padding-top: 50px; padding-bottom: 150px;}
        
      
        
        .two_header_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 53px;
        text-transform: uppercase;
        
        color: #000000;
        
        }
        
        .three_header_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 53px;
        color: #000000;
        }
        
        .three_block_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 29px;
        }
        
        .tecnology_header{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 29px;
        color: #000000;
        }
        
        .footer_header{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 3.4375rem;
        line-height:4rem;
        color: #000000;
        }
        
        .footer_text{
            
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 29px;
        
        color: #FFFFFF;
        
        }
        .menu_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500!important;
        font-size: 18px;
        line-height: 22px;
        color: #3A7B12!important;
        }
        .menu_text:hover{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500!important;
            font-size: 18px;
            line-height: 22px;
            color: #64cc24!important;
            }
        
        .level_1{position: relative; z-index:  2!important;}
        .level_2{position: relative; z-index:  1!important;}
 }


 
@media (min-width: 1800px) { 
    .mob_mt20{margin-top: 0px;}
    .active{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #62B82D;
        }
        .footer_menu{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #FFFFFF;
        }
        .semibold{font-weight: 500;}
        .bold{font-weight: bold;}
        .font_f{font-family: 'Montserrat'}
        .f11 {font-size: 0.6875rem; max-width: 100%;}
        .f12 {font-size: 0.75rem; max-width: 100%;}
        .f13 {font-size: 0.8125rem; max-width: 100%;}
        .f14 {font-size: 0.875rem; max-width: 100%;}
        .f15 {font-size: 0.9375rem; max-width: 100%;}
        .f16 {font-size: 1; max-width: 100%;}
        .f17 {font-size: 1.0625rem; max-width: 100%;}
        .f18 {font-size: 1.125rem; max-width: 100%;}
        .f19 {font-size: 1.1875rem; max-width: 100%;}
        .f20 {font-size: 1.25rem; max-width: 100%;}
        .f21 {font-size: 1.125rem; max-width: 100%;}
        .f22 {font-size:1.375rem; max-width: 100%;}
        .f23 {font-size:1.4375rem; max-width: 100%;}
        .f24 {font-size:1.5rem; max-width: 100%;}
        .f25 {font-size:1.5625rem; max-width: 100%;}
        .f26 {font-size:1.625rem; max-width: 100%;}
        .f27 {font-size:1.6875rem; max-width: 100%;}
        .f28 {font-size:1.75rem; max-width: 100%;}
        .f29 {font-size:1.8125rem; max-width: 100%;}
        .f30 {font-size:1.875rem; max-width: 100%;}
        .mt15{margin-top: 15px;}
        .mt20{margin-top: 20px;}
        .mt30{margin-top: 30px;}
        .mt50{margin-top: 50px;}
        .mt100{margin-top: 100px;}
        .mb20{margin-bottom: 20px;}
        .pt5{padding-top:10px;}
        .mt31{margin-top:31px;}
        .padding_left{padding-left: 50px;}
        .one_sec_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 3rem;
        line-height: 58px;
        color: #000000;
        }
        
        .one_sec_minitext{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 24px;
        color: #000000;
        }
        
        .btn_green{
        width: 250px;
        height: 60px;
        color:#fff;
        background: #62B82D;
        transition: 1s;
        box-shadow: 0px 4px 15px rgba(98, 184, 45, 0.5);
        }
        .btn_green:hover{color:#fff; border: solid 1px #fff;}
        
        #miniblock{background:#fff; eight: 100%; padding:50px; position: relative; top:-100px;filter: drop-shadow(4px 9px 20px rgba(0, 0, 0, 0.05));}
        
        .mini_block_header{ 
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 29px;
        }
        .mini_block_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
         
        color: #000000;
        }
        
        
        
        .rel_block{position: relative;}
        
        #one_sec{background: url('../images/bg_main.jpg') no-repeat;background-size:100%; height: 100%; padding-top: 150px; padding-bottom: 150px;}
        #two_sec{background: linear-gradient(181.15deg, #F9F9F9 -5.67%, rgba(248, 248, 248, 0) 41.26%); height:100%; margin-top: 100px; margin-bottom: 100px;}
        #four_sec{ height:100%; margin-top: 100px; margin-bottom: 100px;}
        #footer{background: url(../images/bg_footer.jpg) no-repeat; background-size:100%; height: 100%; padding-top: 50px; padding-bottom: 150px;}
        
        
        
        .two_header_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 53px;
        text-transform: uppercase;
        
        color: #000000;
        
        }
        
        .three_header_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 53px;
        color: #000000;
        }
        
        .three_block_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 29px;
        }
        
        .tecnology_header{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 29px;
        color: #000000;
        }
        
        .footer_header{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 3.4375rem;
        line-height:4rem;
        color: #000000;
        }
        
        .footer_text{
            
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 29px;
        
        color: #FFFFFF;
        
        }
        .menu_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500!important;
        font-size: 18px;
        line-height: 22px;
        color: #3A7B12!important;
        }
        .menu_text:hover{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500!important;
            font-size: 18px;
            line-height: 22px;
            color: #64cc24!important;
            }
        
        .level_1{position: relative; z-index:  2!important;}
        .level_2{position: relative; z-index:  1!important;}
 }


 ul {
    list-style-type: none;
    /* list-style-image:url('/img/do2t.svg');  */
    padding-left:0em;
    margin-left:0em;
}


li {

font-family: Montserrat;
font-style: normal;
font-weight: normal;
color: #000000;
}

/* li::marker{

    font-size: 3rem;
} */

/* -------------------------------------------------------------------------------- */
/*

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  
  ul[class],
  ol[class] {
    padding: 0;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  ul[class] {
    list-style: none;
  }

  main-banner 
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  
  html,
  body {
    height: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  img {
    max-width: 100%;
    display: block;
  }
  
  *, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  
  a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
  }
*/
  a {
    text-decoration: none;
    transition: 300ms;
  }
  input, textarea{
    transition: 300ms;
  }

  input:hover, textarea:hover{
      border: 1px solid #62B82D;
  }
  
  
  
  a:hover {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .many-items-odd + .many-items-odd {
    margin-top: 175px;
  }
  
  .many-items-even + .many-items-even {
    margin-top: 175px;
  }
  
  .many-items-odd:nth-child(odd) .reverse-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  
  .many-items-odd:nth-child(odd) .info-list__lists {
    margin-left: 0;
  }
  
  .many-items-odd:nth-child(odd) .info-list__bg {
    position: relative;
  }
  
  .many-items-odd:nth-child(odd) .info-list__bg::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-image: url(../images/subtract-left.svg);
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    bottom: 0;
    left: -13px;
    bottom: -13px;
  }
  
  .many-items-odd:nth-child(odd) .info-list__bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  @media (max-width: 420px) {
    .many-items-odd:nth-child(odd) .info-list__bg::before {
      width: 90px;
      height: 90px;
      left: -11px;
      bottom: -11px;
    }
  }
  
  .section-last{
      margin-bottom: 120px;
  }
  .many-items-even:nth-child(even) .reverse-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  
  .many-items-even:nth-child(even) .info-list__lists {
    margin-left: 0;
  }
  
  .many-items-even:nth-child(even) .info-list__bg {
    position: relative;
  }
  
  .many-items-even:nth-child(even) .info-list__bg::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-image: url(../images/subtract-left.svg);
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    bottom: 0;
    left: -13px;
    bottom: -13px;
  }
  
  .many-items-even:nth-child(even) .info-list__bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  @media (max-width: 420px) {
    .many-items-even:nth-child(even) .info-list__bg::before {
      width: 90px;
      height: 90px;
      left: -11px;
      bottom: -11px;
    }
  }
  
  .banner-contact {
    margin-top: 80px;
    padding-top: 65px;
    height: 1050px !important;
  }
  
  @media (max-width: 768px) {
    .banner-contact {
      padding-top: 0;
      height: 100vh !important;
    }
  }
  
  .trouble-electry, .system-electry, .use-functions, .main-services {
    padding-top: 120px;
  }
  
  .info-list__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
  }
  
  .info-list__lists {
    margin-left: 40px;
  }
  
  .info-list__item h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 54px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    position: relative;
  }
  
  .info-list__item h4::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 44px;
    background-image: url(../images/list-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    left: 0;
  }
  
  .info-list__item p {
    padding-left: 54px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  
  .info-list__content {
    margin-bottom: 40px;
    margin-left: 40px;
  }
  
  .info-list__content p {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
  }
  
  .info-list__content.bottom {
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 0;
  }
  
  .info-list__content.top {
    margin-left: 0;
  }
  
  .info-list__item + .info-list__item {
    margin-top: 40px;
  }
  
  .info-list__bg {
    position: relative;
  }
  
  .info-list__bg::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-image: url(../images/subtract-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    bottom: 0;
    right: -13px;
    bottom: -13px;
  }
  
  .info-list__bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .info-list__bg.triangle-none::before {
    content: "";
    background-image: none !important;
    width: 0 !important;
    height: 0 !important;
  }
  
  @media (max-width: 1200px) {
    .info-list__lists {
      margin-top: 40px;
      margin-left: 0;
    }
    .info-list__content {
      margin-left: 0;
    }
    .info-list__content.content-list {
      margin-top: 40px;
    }
  }
  
  @media (max-width: 768px) {
    .info-list__title {
      font-size: 20px;
      line-height: 22px;
    }
    .info-list__item h4 {
      font-size: 16px;
      line-height: 22px;
    }
    .info-list__item p {
      font-size: 13px;
    }
    .info-list__content p {
      font-size: 16px;
      line-height: 22px;
    }
  }
  
  @media (max-width: 420px) {
    .info-list__bg::before {
      width: 90px;
      height: 90px;
      right: -11px;
      bottom: -11px;
    }
  }
  
  .info-items__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .info-items__item {
    margin-top: 80px;
  }
  
  .info-items__item--img {
    display: block;
    width: 56px;
    height: 56px;
    margin: 0 auto;
  }
  
  .info-items__item--text {
    margin-top: 8px;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }
  
  @media (max-width: 992px) {
    .info-items__title {
      font-size: 24px;
      line-height: 40px;
    }
    .info-items__item--text {
      font-size: 22px;
      line-height: 30px;
    }
  }
  
  @media (max-width: 500px) {
    .info-items__title {
      font-size: 22px;
      line-height: 32px;
    }
    .info-items__item--text {
      font-size: 18px;
      line-height: 28px;
    }
  }
  
  .services {
    padding-top: 125px;
  }
  
  .accums {
    padding-top: 160px;
  }
  
  .info-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .li-content + .li-content {
    margin-top: 60px;
  }
  
  .li-content__item {
    margin-top: 40px;
  }
  
  .pic-tile__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
  }
  
  .pic-tile__image {
    margin-top: 60px;
  }
  
  .pic-tile__image--title {
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 31px;
  }
  
  .main-banner {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    position: relative;
  }
  
  .main-banner__title {
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
  }
  
  .main-banner__description {
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    margin-top: 16px;
  }
  
  .main-banner__btn {
    display: block;
    margin-top: 40px;
    width: 250px;
    height: 60px;
    border: none;
    background-color: #62B82D;
    cursor: pointer;
    text-align: center;
    color: #fff;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    box-shadow: 0px 4px 15px rgb(98 184 45 / 50%);
  }
  
  .main-banner__btn:hover {
    background-color: #7AB854;
  }
  
  .main-banner__btn a {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
  }

  .pic-tile__img{
      display: block;
      width: 100%;
  }
  
  .main-banner__background {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .main-banner__block {
    position: absolute;
    padding: 56px 57px;
    background-color: #F2F2F2;
    border: 1px solid #EDEDED;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    top: 0;
    right: 178px;
    color: #000;
  }
  
  .main-banner__block--title {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
  }
  
  .main-banner__form {
    margin-top: 30px;
  }
  
  .main-banner__input--block {
    margin-top: 30px;
  }
  
  .main-banner__input--block textarea {
    resize: none;
    height: 240px;
  }
  
  .main-banner__input--title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  
  .main-banner__input--input {
    width: 100%;
    margin-top: 12px;
    background-color: #fff;
    padding: 18px 16px;
    border: none;
    border: 1px solid #EDEDED;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }
  
  .main-banner__input--submit {
    display: block;
    margin-top: 40px;
    width: 250px;
    height: 60px;
    border: none;
    background-color: #62B82D;
    cursor: pointer;
    text-align: center;
    color: #fff;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
  }
  
  .main-banner__input--submit:hover {
    background-color: #7AB854;
  }
  
  @media (max-width: 768px) {
    .main-banner__block {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      overflow-x: auto;
    }
    .main-banner__title {
      font-weight: 800;
      font-size: 25px;
      line-height: 35px;
      text-align: center;
    }
    .main-banner__description {
      font-weight: 600;
      font-size: 18px;
      line-height: 29px;
      margin-top: 16px;
      text-align: center;
    }
    .main-banner__btn {
      margin: 40px auto 0 auto;
    }
  }
  
  @media (max-width: 576px) {
    .main-banner__block--title {
      font-size: 25px;
      line-height: 30px;
    }
    .main-banner__input--title {
      font-size: 13px;
      line-height: 17px;
    }
    .main-banner__input--input {
      font-size: 13px;
      line-height: 18px;
    }
    .main-banner__input--submit {
      margin: 40px auto 0 auto;
    }
    .main-banner__input--block textarea {
      height: 120px;
    }
  }
  
  @media (max-width: 450px) {
    .main-banner__input--submit {
      width: 150px;
      height: 40px;
    }
  }
  
  .our-contacts {
    padding: 60px 0;
  }
  
  .our-contacts__item {
    margin-top: 32px;
  }
  
  .our-contacts__item--title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  
  .our-contacts__item--link {
    margin-top: 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    transition: 300ms;
  }
  
  .our-contacts__item--link:hover {
    color: #62B82D;
  }
  
  @media (max-width: 992px) {
    .our-contacts__item {
      text-align: center;
    }
  }
  
  @media (max-width: 576px) {
    .our-contacts__item--title {
      font-size: 16px;
    }
    .our-contacts__item--link {
      font-size: 19px;
    }
  }
  